body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c4527c;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #108c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cae11b;
}

button:focus {
    outline: none;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.valid-feedback {
    color: #2ecc71;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}
